* {box-sizing: border-box}

/* Add padding to containers */

.form{
    width: 50%;

}

.ff{
    display: flex;
    flex-direction: row;
}
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #e9f549;
  color: black;
  
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

#colr{
  background-color: blueviolet;
  margin-top: 3%;
  
}
/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

table{
    width: 100%;
}
table th{
    background-color: #e9f549;
}

table tr th{
    padding: 1%;
}

table tr td{
    padding-left: 5px;
    padding-right: 5px;
}
